extends layout

block content
    
  .row.justify-content-center
    .col-sm-6
      if error
        .alert.alert-danger(role="alert") #{error} is invalid.
      legend Edit Gun
      form(action=`/guns/${gun._id}?_method=PATCH`, method="POST", enctype="multipart/form-data")
        .form-group
          label Model*
          input.form-control(name="model" value=gun.model required maxlength="25")
        .form-group
            label Firing Mode*
            select.form-control(name="firingMode" required)
              if gun.firingMode === "Single-shot"
                option(value="Single-shot" selected) Single-shot
              else
                option(value="Single-shot") Single-shot
              if gun.firingMode === "Semi-automatic"
                option(value="Semi-automatic" selected) Semi-automatic
              else
                option(value="Semi-automatic") Semi-automatic
              if gun.firingMode === "Automatic"
                option(value="Automatic" selected) Automatic
              else
                option(value="Automatic") Automatic
              if gun.firingMode === "Burst"
                option(value="Burst" selected) Burst 
              else
                option(value="Burst") Burst 
        .form-group
          label Caliber*
          input.form-control(name="caliber" value=gun.caliber required maxlength="25")    
        .form-group
            label Avatar*
            input.form-control(name="avatar" type="file" required)   
        .form-group
          label Description*
          textarea.form-control(name="description" required maxlength="140")= gun.description
        .form-group
          label Price*
          input.form-control(name="price" required type="number")= gun.price
        button(type="submit").btn.btn-primary Save
          .text-right
            form(action=`/guns/${gun._id}?_method=DELETE`, method="POST")
              button(type="submit").btn.btn-danger Remove
